<!DOCTYPE html>
<html>

<head>
    <title>Bem-vindo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            font-family: 'thewitcher';
            color: white;
            background-size: cover;
        }
    </style>
</head>

<body>
    <video id="video-background" autoplay loop muted>
        <source src="{{ url_for('static', filename='witcherfundo.mkv') }}" type="video/mp4">
        <!-- Adicione outros formatos de vídeo aqui, se necessário -->
    </video>

    <audio id="background-music" src="{{ url_for('static', filename='music.mp3') }}" autoplay loop></audio>

    <div class="content">
        <h1>Bem-vindo ao Witcher Alchemy</h1>
        <p>Este é um sistema de empacotamento de ingredientes em frascos e controle de contratos por tempo.</p>
        <p>Clique no botão abaixo para começar:</p>
        <a href="/knapsack"><button>Iniciar Knapsack</button></a>
        <a href="/contratos"><button>Iniciar Contratos</button></a>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var audio = document.getElementById('background-music');
            var video = document.getElementById('video-background');
            if (audio.paused) {
                audio.play();
            }
            if (video.paused) {
                video.play();
            }
        });
    </script>
</body>

</html>