<!DOCTYPE html>
<html>

<head>
    <title>Sistema de Knapsack</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <video id="video-background" autoplay loop muted>
        <source src="{{ url_for('static', filename='witcherfundo.mkv') }}" type="video/mp4">
    </video>

    <audio id="background-music" src="{{ url_for('static', filename='music.mp3') }}" autoplay loop></audio>

    <div class="content">
        <h1>Sistema de Knapsack</h1>

        <form action="/knapsack" method="post">
            <h2>Frascos</h2>
            <label for="num_frascos">Número de Frascos:</label>
            <input type="number" id="num_frascos" name="num_frascos" required>

            <div id="frascos_fields"></div>

            <input type="hidden" id="frascos_range" name="frascos_range" value="0">

            <button type="submit">Executar</button>
        </form>
        <div class="back-button">
            <a href="/">Voltar</a>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var audio = document.getElementById('background-music');
            var video = document.getElementById('video-background');
            if (audio.paused) {
                audio.play();
            }
            if (video.paused) {
                video.play();
            }
        });

        $(document).ready(function () {
            $('#num_frascos').on('input', function () {
                var numFrascos = parseInt($(this).val());
                if (!isNaN(numFrascos)) {
                    $('#frascos_fields').empty();
                    for (var i = 1; i <= numFrascos; i++) {
                        var inputHtml = '<div><label for="frasco_capacidade_' + i + '">Capacidade Frasco ' + i + ':</label>';
                        inputHtml += '<input type="number" id="frasco_capacidade_' + i + '" name="frasco_capacidade_' + i + '" required></div>';
                        $('#frascos_fields').append(inputHtml);
                    }
                    $('#frascos_range').val(numFrascos);
                }
            });
        });
    </script>
</body>

</html>